.SignIn {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;

  .side-backdrop {
    position: absolute;
    height: 100%;
    width: 50%;
    // background-image: url("../../assets/jpg/argo 1.2.jpg");
    background-color: var(--themeColor);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .sign-total-container {
    z-index: 100;
    .sign-in-header {
      width: 1200px;
      margin: 0px auto;
      display: flex;
      align-items: center;
      z-index: 100;
      .sign-in-header-container {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: center;
        padding: 1rem;

        .sign-arweave-logo-container {
          display: flex;
          height: 24px;
        }
      }
    }

    .sign-in-container {
      display: flex;
      width: 1200px;
      margin: 0px auto;
      z-index: 100;

      // min-height: 500px;

      .sign-in-left-container {
        padding: 1rem;
        flex: 1;
        height: 100%;
        width: 50%;
      }

      .sign-in-right-container {
        padding: 1rem;
        flex: 1;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .sign-in-all-right-container {
          width: fit-content;
          max-width: 68%;
          .sign-in-right-header {
            font-size: 48px;
            color: var(--themeColor);
            margin: 0;
          }

          .sign-in-right-button-container {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            .github-button {
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;
              text-align: center;
              line-height: 38px;
              white-space: nowrap;
              font-weight: 500;
              font-family: var(--font-sans);
              min-width: 100%;
              height: 50px;
              font-size: 1rem;
              flex-shrink: 0;
              color: #fff;
              background-color: #24292e;
              border: 1px solid #24292e;
              -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease;
              user-select: none;
              cursor: pointer;
              overflow: hidden;
              outline: none;
              box-sizing: border-box;
              text-decoration: none;
              padding: 0px 25px;
              margin: 0px;
              border-radius: 5px;

              &:hover {
                background: lighten($color: #24292e, $amount: 15);
                border: 1px solid lighten($color: #24292e, $amount: 15);
              }

              .github-icon {
                position: absolute;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                top: 0px;
                bottom: 0px;
                z-index: 1;
                left: 22px;
                right: auto;
                color: #fff;
              }
            }

            .gitlab-button {
              margin-top: 1rem;
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;
              text-align: center;
              line-height: 38px;
              white-space: nowrap;
              font-weight: 500;
              font-family: var(--font-sans);
              min-width: 100%;
              height: 50px;
              font-size: 1rem;
              flex-shrink: 0;
              color: #fff;
              background-color: #6b4fbb;
              border: 1px solid #6b4fbb;
              -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease;
              user-select: none;
              cursor: pointer;
              overflow: hidden;
              outline: none;
              box-sizing: border-box;
              text-decoration: none;
              padding: 0px 25px;
              border-radius: 5px;

              &:hover {
                background: lighten($color: #6b4fbb, $amount: 15);
                border: 1px solid lighten($color: #6b4fbb, $amount: 15);
              }

              .gitlab-icon {
                position: absolute;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                top: 0px;
                bottom: 0px;
                z-index: 1;
                left: 22px;
                right: auto;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
