.landing-about-title {
  margin: 0;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.3;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 54px;

  animation: fl-fade-in 1s ease;
  -webkit-animation: fl-fade-in 1s ease;
  animation-duration: 2s;
}
