.SiteDeployment {
  .site-deployment-back {
    color: var(--grey2Color);
    display: flex;
    align-items: center;
    margin-top: 24px;
    width: fit-content;
    cursor: pointer;

    span {
      font-weight: 500;
      margin-right: 0.7rem;
    }

    &:hover {
      color: var(--white);
    }
  }
  .max-width-set {
    max-width: 50%;
  }
  .site-deployment-card-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: var(--grey4Color);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 24px;
    min-width: 264px;
    padding: 24px;
    min-height: 152px;

    .site-deployment-card-header {
      .site-deployment-card-header-title {
        margin: 0px;
        color: var(--themeColorDark);
        display: flex;
        align-items: center;
        font-family: var(--headerFont) !important;

        div {
          display: flex;
          margin: -10px -10px !important;
        }

        .lazyload-wrapper {
          margin: 0px 0px !important;
          .rocket-icon {
            height: 24px;
            width: 24px;
            margin-left: 1rem;
          }
        }
      }

      .site-deployment-card-header-description {
        margin: 0px;
        margin-top: 12px;
      }

      .commit-link {
        text-decoration: none;
        color: var(--logoColor);
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .site-deployment-header-title {
      font-family: var(--headerFont) !important;
      padding: 0.6rem 24px;
      font-size: 18px;
      font-weight: 500;
      border-bottom: 1px solid var(--grey2Color);
    }

    .site-deployment-card-content {
      margin-top: 6px;
      .site-deployment-card-fields {
        display: flex;
        align-items: center;
        margin: 1rem 0px;
        margin-bottom: 0px;
        .site-deployment-github-icon {
          font-size: 24px;
          display: flex;
          margin-right: 1rem;
        }
        .site-deployment-logo {
          height: 24px;
          width: 24px;
          margin-right: 1rem;
        }

        .site-deployment-link {
          color: var(--grey5Color);
          font-size: 14px;
        }

        .comma-sep {
          margin-right: 4px;
        }
      }
    }
  }

  .deploy-container {
    padding: 0 !important;
    min-height: auto !important;

    .payment-loading {
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;

      span {
        display: flex;
        font-weight: 500;
        margin-right: 1.5rem;
      }

      span:nth-child(2) {
        margin-bottom: 8px;
      }
    }

    .payment-failed {
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;

      span {
        display: flex;
        font-weight: 500;
        margin-right: 1rem;
      }
    }

    .deploy-summary-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      .deploy-summary-item-info-icon {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        font-size: 20px;
      }

      .deploy-summary-item-info-container {
        .deploy-summary-item-info-title {
          font-size: 16px;
          font-weight: 500;
        }

        .deploy-summary-item-info-description {
          font-size: 14px;
          color: var(--grey3Color);
        }
      }
    }

    .site-deployment-body {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem 24px;

      .site-deployment-body-item {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 0.5rem;
        label {
          color: var(--grey3Color);
          width: 30%;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }

  .deploy-logs-card-title {
    display: flex;
    align-items: center;
    padding: 0.8rem 24px !important;
    font-family: var(--headerFont) !important;

    .card-header-deploy-title-container {
      flex: 1;
      .card-header-deploy-title {
        font-size: 18px;
        font-weight: 500;
      }

      .card-header-deploy-subtitle {
        font-size: 12px;
        color: var(--red);
      }
    }

    .refresh-control {
      color: var(--grey4Color);
      cursor: pointer;
      margin-right: 0.5rem;
      font-size: 18px;
      border-radius: 6px;
      height: 32px;
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--grey1Color);
      }
    }

    .copy-to-clipboard-button {
      padding: 8px 20px;
      font-size: 0.95rem;
      min-width: 64px;
      box-sizing: border-box;
      font-style: normal;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-weight: 400;
      line-height: 1.23;
      white-space: nowrap;
      border-radius: 4px;
      letter-spacing: normal;
      text-transform: none;
      background-color: var(--themeColor);
      color: var(--white);
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      border: 0px;
      outline: none;
      cursor: pointer;
      transition: all 0.25s linear;

      &:hover {
        transform: scale(1.015);
      }
      &:active {
        background-color: var(--themeColorDark);
      }
    }
  }

  .deploy-logs-container {
    max-height: 250px;
    min-height: 250px;
    overflow-y: auto;
    background-color: var(--black);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1rem;
    color: var(--grey1Color);
    .deploy-logs-items {
      line-height: 24px;
      font-size: 15px;
    }
  }

  .log-site-link {
    color: #c3c3c3;
    padding-bottom: 1px;
    border-bottom: 1px dotted #c3c3c3;
    text-decoration: none;
    transition: 0.1s ease-in-out;
  }
}
