@import "../../styles/mixin";

.DeploySiteConfig {
  display: flex;
  flex-direction: column;
  background: var(--white);
  .app-main {
    margin-top: -8px;
    padding-bottom: 2rem;
    padding-top: 0;

    &::before {
      background: var(--themeColorDark);
      content: " ";
      display: block;
      height: 420px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
      border-bottom-left-radius: 70% 10%;
      border-bottom-right-radius: 70% 10%;
    }
    .deploy-site-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      position: relative;
      width: auto;
      margin-top: 1.5rem;

      .deploy-site-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 1rem;
        .deploy-site-card-inner {
          width: 720px;
          margin: auto;
          padding: 40px;

          .go-back {
            cursor: pointer;
            color: var(--grey3Color);
            width: fit-content;
            padding: 0rem 24px;

            span {
              font-size: 18px;
              margin-right: 8px;
            }

            &:hover {
              color: var(--grey5Color);
            }
          }
          .deploy-site-title {
            margin: 0;
            padding: 1rem 24px;
            padding-bottom: 0.5rem;
            font-family: var(--headerFont) !important;
          }

          .deploy-site-subtitle {
            font-size: 18px;
            color: var(--grey3Color);
            margin: 0;
            padding: 1rem 24px;
            padding-top: 0;
          }

          .deploy-site-progress-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 20px;
            padding-top: 0.5rem;
            .deploy-site-progress-number-container {
              display: flex;
              align-items: center;
              .deploy-site-progress-number {
                border-radius: 50%;
                border: 2px solid var(--themeColor);
                font-size: 18px;
                color: var(--themeColor);
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }

              .deploy-site-progress-done {
                border-radius: 50%;
                border: 2px solid var(--themeColor);
                font-size: 18px;
                color: var(--themeColor);
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }

              .active {
                background: var(--themeColor) !important;
                border-color: var(--themeColor) !important;
                color: var(--white) !important;
              }

              .deploy-site-progress-text {
                font-size: 17px;
                font-weight: 500;
                margin-left: 1rem;
              }

              .deploy-site-progress-text-active {
                color: var(--themeColor);
              }
            }
          }

          .deploy-site-form-container {
            margin-top: 1rem;
            .deploy-site-form-item {
              display: flex;
              flex-direction: column;
              padding: 1rem 24px;

              .deploy-site-item-title {
                font-size: 20px;
                font-weight: bold;
              }

              .deploy-site-item-subtitle {
                font-size: 16px;
                font-weight: 500 !important;
                color: var(--grey3Color);
              }

              .deploy-protocol-list-container {
                margin-top: 1rem;
                .deploy-protocol-list {
                  padding: 0px;
                  display: grid;
                  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
                  gap: 30px;

                  .deploy-protocol-image {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 30px;
                    min-height: 72px;
                    min-width: 200px;
                    justify-content: space-around;
                    border-radius: 8px;
                    background: var(--white);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
                    margin: 1.5rem;
                    cursor: pointer;

                    &:hover {
                      // border: 1px solid var(--white);
                      transition: all 150ms ease-in;
                      background-color: #f0f0f0;

                      &:before {
                        background: #f0f0f0;
                      }
                    }

                    .new-protocol-tag {
                      position: absolute;
                      top: 12px;
                      right: 12px;
                      font-size: 14px;
                      padding: 1px 10px;
                      background-color: var(--fuelYellow);
                      color: var(--white);
                      border-radius: 12px;
                    }
                  }
                }
              }

              .deploy-site-item-form {
                .deploy-site-item-form-item {
                  margin-top: 1rem;
                  display: flex;
                  flex-direction: column;
                  label {
                    font-size: 16px;
                    font-weight: bold;
                    .tooltip {
                      color: rgb(66, 65, 65);
                      margin-left: 10px;
                    }
                  }
                  .deploy-site-item-input-container {
                    display: flex;
                    align-items: center;
                    margin-top: 0.5rem;
                    .deploy-site-item-input-disabled {
                      width: 77px;
                      padding: 8px 12px;
                      border-radius: 4px;
                      border-top-right-radius: 0;
                      border-bottom-right-radius: 0;
                      font-size: 16px;
                      border: 1px solid var(--grey2Color);
                      border-right: 0;
                      &:disabled {
                        cursor: not-allowed;
                        background-color: var(--grey1Color);
                      }
                    }

                    .deploy-site-item-input-build {
                      width: 200px;
                      padding: 8px 12px;
                      border-radius: 4px;
                      border-top-left-radius: 0;
                      border-bottom-left-radius: 0;
                      font-size: 16px;
                      border: 1px solid var(--grey2Color);
                      outline: none;

                      &:focus {
                        border: 1px solid var(--grey5Color);
                      }
                    }
                  }
                  .deploy-site-item-input {
                    margin-top: 0.5rem;
                    width: 300px;
                    padding: 8px 12px;
                    border-radius: 4px;
                    font-size: 16px;
                    border: 1px solid var(--grey2Color);
                    outline: none;

                    &:focus {
                      border: 1px solid var(--grey5Color);
                    }
                  }

                  .deploy-site-item-select-container {
                    position: relative;

                    .deploy-site-item-select {
                      margin-top: 0.5rem;
                      width: 327px;
                      padding: 9px 12px;
                      border-radius: 4px;
                      font-size: 16px;
                      border: 1px solid var(--grey2Color);
                      outline: none;
                      appearance: none;

                      &:focus {
                        border: 1px solid var(--grey5Color);
                      }

                      &::-ms-expand {
                        display: none;
                      }
                    }

                    .select-down-icon {
                      position: absolute;
                      left: 300px;
                      top: 16px;
                    }
                  }
                  .deploy-site-env-title {
                    display: flex;
                    .deploy-site-env-title-item {
                      width: 32%;
                    }
                  }

                  .deploy-site-item-env-container {
                    display: flex;
                    align-items: center;
                    .deploy-site-env-input {
                      margin-top: 0.5rem;
                      width: 190px;
                      padding: 8px 12px;
                      border-radius: 4px;
                      font-size: 16px;
                      border: 1px solid var(--grey2Color);
                      outline: none;
                      margin-right: 1rem;
                    }

                    .remove-env-item {
                      color: var(--grey4Color);
                      cursor: pointer;
                      font-size: 18px;
                      border-radius: 6px;
                      height: 32px;
                      width: 32px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      margin-top: 0.5rem;

                      &:hover {
                        background-color: var(--grey1Color);
                      }
                    }
                  }
                }

                .add-new-var-button {
                  @include primaryButton(
                    var(--textColor),
                    var(--grey2Color),
                    0.5rem 1rem,
                    none,
                    8px,
                    var(--grey3Color),
                    var(--grey1Color)
                  );
                  width: 180px;
                  margin-top: 1rem;
                }
              }

              .webhook-confirm-container {
                margin-top: 1rem;
                color: var(--grey4Color);
                display: flex;

                .confirm-checkbox {
                  display: flex;
                  height: 20px !important;
                  margin-right: 8px;
                  margin-top: 3px;
                  input {
                    cursor: pointer;
                  }
                }
              }

              .deployment-provider-container {
                margin-top: 1rem;

                .deployment-provider-title {
                  font-weight: 500;
                  color: var(--grey4Color);
                  margin-bottom: 0.5rem;
                }
                .deployment-provider-buttons {
                  display: flex;
                  .github-button {
                    position: relative;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                    border: 0;
                    border-radius: 8px;
                    padding: 0.5rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid transparent;
                    outline: none;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    color: #fff;
                    background: #24292e;
                    border: 1px solid #24292e;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    user-select: none;
                    cursor: pointer;
                    overflow: hidden;
                    outline: none;

                    .github-icon {
                      margin-right: 8px;
                    }

                    &:hover {
                      background: lighten($color: #24292e, $amount: 15);
                      border: 1px solid lighten($color: #24292e, $amount: 15);
                    }

                    &:disabled {
                      background: #24292e;
                      border: 1px solid #24292e;
                      cursor: not-allowed;
                    }
                  }
                }
              }

              .deploy-site-item-repo-list-container {
                margin-top: 2rem;
                .deploy-site-item-repo-header {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  position: relative;

                  .deploy-site-item-repo-header-left {
                    align-items: center;
                    display: flex;
                    cursor: pointer;
                    .deploy-site-item-repo-org-avatar {
                      height: 32px;
                      width: 32px;
                      border-radius: 50%;
                    }

                    .deploy-site-item-repo-org-name {
                      font-size: 20px;
                      font-weight: 500;
                      margin-left: 1rem;
                    }

                    .deploy-site-item-repo-down {
                      display: flex;
                      margin-left: 0.8rem;
                      margin-top: 2px;
                    }
                  }

                  .deploy-site-item-repo-header-right {
                    .deploy-site-item-repo-search-container {
                      position: relative;
                      .deploy-site-item-repo-search-icon {
                        position: absolute;
                        display: flex;
                        bottom: 10px;
                        left: 12px;
                        color: var(--grey2Color);
                      }

                      .deploy-site-item-repo-search-input {
                        width: 140px;
                        padding: 8px 12px;
                        padding-left: 36px;
                        border-radius: 4px;
                        font-size: 16px;
                        border: 1px solid var(--grey2Color);
                        outline: none;
                      }

                      .deploy-site-item-repo-search-input:focus {
                        border: 1px solid var(--grey5Color);
                        ~ .mail-icon {
                          color: var(--grey5Color);
                        }
                      }
                    }

                    .refresh-control {
                      color: var(--grey4Color);
                      cursor: pointer;
                      margin-right: 0.5rem;
                      font-size: 18px;
                      border-radius: 6px;
                      height: 32px;
                      width: 32px;
                      display: flex;
                      align-items: center;
                      justify-content: center;

                      &:hover {
                        background-color: var(--grey1Color);
                      }
                    }
                  }
                }

                .deploy-site-item-repo-body {
                  margin-top: 1rem;

                  a {
                    text-decoration: none;
                    color: var(--themeColor);
                    border-bottom: 1px dotted var(--themeColor);
                    margin-left: 4px;

                    &:hover {
                      color: var(--themeColorDark);
                      border-bottom: 1px dotted var(--themeColorDark);
                    }
                  }
                }
              }
            }

            .wallet-details-container {
              margin-top: 1rem;
              .wallet-details-items {
                display: flex;
                align-items: flex-start;

                .exclamation-icon {
                  margin-right: 1rem;
                  margin-top: 2px;
                  color: var(--red);
                }

                span {
                  color: var(--red);
                }

                a {
                  text-decoration: none;
                  color: var(--red);
                  border-bottom: 1px dotted var(--red);
                  margin-left: 4px;
                  &:hover {
                    color: var(--redDark);
                    border-bottom: 1px dotted var(--redDark);
                  }
                }
              }
            }
          }

          .button-container {
            display: flex;
            padding: 1rem 24px;
            .primary-button {
              @include primaryButton(
                white,
                var(--themeColor),
                0.5rem 1rem,
                none,
                8px,
                var(--themeColorDark),
                var(--primaryDisabled)
              );

              width: 120px;

              div {
                margin-right: 8px;
              }
            }

            .cancel-button {
              @include primaryButton(
                var(--textColor),
                var(--grey2Color),
                0.5rem 1rem,
                none,
                8px,
                var(--grey3Color),
                var(--grey1Color)
              );
              width: 120px;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}
