.Landing {
  background-color: #040c34;

  .landing-header {
    background-color: #3664ae;
    transition: all 0.2s linear;
  }

  .background-color-container {
    display: flex;
    flex-direction: column;
    background-color: #3664ae;
    transition: all 0.2s linear;
  }

  @keyframes fl-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

$information-phone: "only screen and (max-width : 512px)";
$information-pad: "only screen and (max-width : 1024px) and (min-width: 512px)";

@media #{$information-phone} {
  .Landing {
    .landing-header {
      .menu-button {
        display: block !important;
      }

      .login-container {
        display: none !important;
      }
      .primary-button {
        display: none !important;
      }
    }

    .landing-home-body {
      h1 {
        font-size: 42px !important;
      }

      .alpha-text {
        font-size: 14px !important;
      }
    }

    .landing-deploy {
      .landing-deploy-container {
        max-width: 324px !important;

        .explore-text {
          font-size: 16px !important;
        }

        .argo-desc-text {
          font-size: 14px !important;
        }

        .deploy-steps-one {
          .deploy-steps-title {
            font-size: 32px !important;
          }

          .deploy-steps-description {
            font-size: 14px !important;
          }

          .jamstack-support-container {
            .jamstack-support-title {
              font-size: 16px !important;
            }

            .jamstack-support-icons-container {
              .jamstack-support-icon {
                width: 76px !important;

                img {
                  width: 48px !important;
                  height: 48px !important;
                }
              }
            }
          }
        }

        .deploy-steps-two {
          .deploy-steps-title {
            font-size: 32px !important;
          }

          .deploy-steps-description {
            font-size: 14px !important;
          }

          .deploy-steps-features-container {
            .deploy-steps-feature {
              margin: 1rem 0.5rem !important;
              font-size: 12px !important;
            }
          }
        }
      }
    }

    .landing-about {
      .landing-about-container {
        .landing-about-top-text {
          font-size: 16px !important;
        }

        .landing-about-title {
          font-size: 36px !important;
        }

        .landing-about-paragraphs {
          p {
            font-size: 16px !important;
          }
        }

        .landing-about-button-container {
          .primary-button {
            padding: 0.75rem !important;
            font-size: 13px !important;
            width: auto !important;

            .button-icon {
              margin-right: 6px !important;
            }
          }
        }
      }
    }

    .landing-footer {
      .landing-footer-container {
        font-size: 10px !important;

        .landing-footer-icon {
          font-size: 16px !important;
        }
      }
    }
  }
}

@media #{$information-pad} {
  .Landing {
    .landing-home-body {
      h1 {
        font-size: 56px !important;
      }

      .alpha-text {
        font-size: 18px !important;
      }
    }

    .landing-deploy {
      .landing-deploy-container {
        max-width: 624px !important;

        .explore-text {
          font-size: 22px !important;
        }

        .argo-desc-text {
          font-size: 18px !important;
        }

        .deploy-steps-one {
          .deploy-steps-title {
            font-size: 36px !important;
          }

          .deploy-steps-description {
            font-size: 16px !important;
          }

          .jamstack-support-container {
            .jamstack-support-title {
              font-size: 18px !important;
            }

            .jamstack-support-icons-container {
              .jamstack-support-icon {
                width: 120px !important;

                img {
                  width: 56px !important;
                  height: 56px !important;
                }
              }
            }
          }
        }
        .deploy-steps-two {
          .deploy-steps-title {
            font-size: 36px !important;
          }

          .deploy-steps-description {
            font-size: 16px !important;
          }
          .deploy-steps-features-container {
            .deploy-steps-feature {
              margin: 1rem !important;
              font-size: 18px !important;
            }
          }
        }
      }
    }

    .landing-about {
      .landing-about-container {
        .landing-about-top-text {
          font-size: 22px !important;
        }

        .landing-about-title {
          font-size: 42px !important;
        }

        .landing-about-paragraphs {
          p {
            font-size: 18px !important;
          }
        }

        .landing-about-button-container {
          .primary-button {
            padding: 0.75rem !important;
            font-size: 13px !important;
            width: 300px !important;

            .button-icon {
              margin-right: 8px !important;
            }
          }
        }
      }
    }
  }
}
