.RootHeader {
  padding: 20px 40px;
  color: var(--white);
  // background: var(--themeColor);
  z-index: 999;
  .header-container {
    max-width: 1000px;
    margin: 0 auto;
    .navbar-container {
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      .logo-container {
        display: flex;
        .app-logo-container {
          display: flex;
          a {
            text-decoration: none;
            color: var(--white);
            display: flex;
            align-items: center;
            .logo-image {
              height: 32px;
            }
          }
        }
        .teams-container {
          display: flex;
          align-items: center;
          margin-left: 3rem;
          position: relative;

          &::before {
            background-image: linear-gradient(
              -90deg,
              rgba(255, 255, 255, 0.5) 0,
              #fff 10%,
              #fff 90%,
              rgba(255, 255, 255, 0.5) 100%
            );
            content: "";
            display: block;
            width: 2px;
            opacity: 0.3;
            position: absolute;
            top: -4px;
            left: -1.5rem;
            height: 110%;
            transform: rotate(45deg);
            border-radius: 6px;
          }
          .team-avatar {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            margin-right: 1rem;
            border: 2px solid var(--themeColor);
          }

          .team-name {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
          }

          .team-up-down-arrow {
            margin-left: 8px;
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // border: 1px solid transparent;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              // border: 1px solid var(--white);
              background-color: #3261b89e;
              border-radius: 6px;
            }
          }
        }
      }
      .user-profile-container {
        margin-inline-end: 1.3em;
        display: flex;
        align-items: center;
        .notification-container {
          margin-right: 1em;
          color: var(--grey2Color);
          font-size: 20px;
          display: flex;
          height: 36px;
          width: 36px;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            background-color: #3261b873;
          }
        }

        .menu-container {
          margin-right: 1.2rem;
          font-size: 20px;
          display: flex;
          height: 32px;
          width: 32px;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: #3261b873;
            border-radius: 6px;
          }
        }
        .profile-container {
          display: flex;
          .user-profile-blockie-icon {
            height: 42px;
            width: 42px;
            border-radius: 50%;
            border: 2px solid var(--themeColor);
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              border: 2px solid var(--white);
            }
          }

          .selected-profile {
            border: 2px solid var(--white) !important;
          }
        }

        .login-container {
          font-size: 18px;
          font-weight: 500;
          margin-right: 1rem;
          cursor: not-allowed;
        }

        .primary-button {
          background: var(--themeColorDark);
          text-decoration: none;
          color: white;
          font-size: 16px;
          font-weight: 600;
          border: 0;
          border-radius: 8px;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid transparent;
          outline: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          margin-left: 1rem;
          width: 104px;

          &:hover {
            background: transparent;
            border: 2px solid var(--themeColorDark);
            color: var(--themeColorDark);
          }

          &:disabled {
            background: var(--themeColorDark);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
