.UserSettings {
  display: flex;
  flex-direction: column;
  background: var(--white);
  .app-main {
    margin-top: -8px;
    padding-bottom: 2rem;
    padding-top: 0;

    &::before {
      background: var(--themeColorDark);
      content: " ";
      display: block;
      height: 420px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
      border-bottom-left-radius: 70% 10%;
      border-bottom-right-radius: 70% 10%;
    }
    .user-settings-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      position: relative;
      width: auto;
      margin-top: 1.5rem;

      .settings-container {
        display: flex;
        margin-top: 1rem;
        .settings-left-side-bar {
          width: 25%;
          height: fit-content;
          background-color: var(--white);
          border-radius: 8px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          min-height: 200px;
          .settings-bar-item {
            padding: 8px 12px;
            border-bottom: 1px solid var(--grey2Color);
            cursor: pointer;
            font-weight: bold;
            color: var(--grey3Color);
            border-left: 3px solid transparent;

            // &:nth-last-child(1) {
            //   border-bottom: 0px;
            //   border-bottom-left-radius: 8px;
            //   border-bottom-right-radius: 8px;
            // }

            &:nth-child(1) {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }

            &:hover {
              background-color: var(--grey1Color);
            }
          }

          .selected {
            border-left: 3px solid #6b93d8;
            color: var(--textColor);
          }
        }
      }
    }
  }
}

// $information-phone: "only screen and (max-width : 464px)";
// $information-pad: "only screen and (max-width : 1024px) and (min-width: 464px)";
// $information-xl: "only screen and (min-width: 1920px)";
// @media #{$information-phone} {
//   .Landing {
//     .bg-animation {
//       li {
//         width: 50px;
//         height: 50px;

//         &::before {
//           transform: rotate(-135deg);
//         }

//         &:nth-child(1) {
//           left: 5%;
//           animation-duration: 20s;
//         }

//         &:nth-child(2) {
//           left: 20%;
//           width: 60px;
//           height: 60px;
//           animation-delay: 2s;
//           animation-duration: 25s;
//         }

//         &:nth-child(3) {
//           left: 35%;
//           width: 30px;
//           height: 30px;
//           animation-delay: 17s;
//         }

//         &:nth-child(4) {
//           left: 55%;
//           width: 70px;
//           height: 70px;
//           animation-delay: 6s;
//           animation-duration: 22s;
//           background-color: transparent;
//         }

//         &:nth-child(5) {
//           left: 65%;
//         }

//         &:nth-child(6) {
//           left: 75%;
//           width: 40px;
//           height: 40px;
//           animation-delay: 3s;
//           background-color: transparent;
//         }

//         &:nth-child(7) {
//           left: 82%;
//           width: 60px;
//           height: 60px;
//           animation-delay: 9s;
//         }

//         &:nth-child(8) {
//           left: 91%;
//           width: 60px;
//           height: 60px;
//           background-color: transparent;
//           animation-delay: 15s;
//         }

//         &:nth-child(9) {
//           display: none;
//         }
//       }
//     }

//     .landing-container {
//       padding: 0.5rem 0px !important;
//       height: 98vh !important;

//       .header {
//         &::after {
//           display: none;
//         }

//         .top-message {
//           max-width: 172px !important;
//           font-size: 1rem !important;
//         }

//         .join-button {
//           padding: 0.4rem 2rem !important;
//           .join-text {
//             font-size: 1rem !important;
//           }
//         }
//       }

//       .main {
//         transform: translate(-50%, -50%) !important;
//         .introducing-text {
//           font-size: 18px !important;
//           top: -12px !important;
//           left: 11% !important;
//         }
//         .logo-container {
//           padding: 1rem 2rem !important;
//           border: 4px solid #fff !important;
//           border-radius: 32px !important;

//           .logo-image {
//             height: 42px !important;
//           }
//           .logo-text {
//             font-size: 36px !important;
//             margin-left: 1rem !important;
//           }
//         }
//       }

//       .footer {
//         bottom: 0rem !important;
//         width: 82.5% !important;
//       }
//     }
//   }
// }

// @media #{$information-pad} {
//   .Landing {
//     .bg-animation {
//       li {
//         width: 50px;
//         height: 50px;

//         &::before {
//           transform: rotate(-135deg);
//         }

//         &:nth-child(1) {
//           left: 5%;
//           animation-duration: 20s;
//         }

//         &:nth-child(2) {
//           left: 20%;
//           width: 60px;
//           height: 60px;
//           animation-delay: 2s;
//           animation-duration: 25s;
//         }

//         &:nth-child(3) {
//           left: 35%;
//           width: 30px;
//           height: 30px;
//           animation-delay: 17s;
//         }

//         &:nth-child(4) {
//           left: 55%;
//           width: 70px;
//           height: 70px;
//           animation-delay: 6s;
//           animation-duration: 22s;
//           background-color: transparent;
//         }

//         &:nth-child(5) {
//           left: 65%;
//         }

//         &:nth-child(6) {
//           left: 75%;
//           width: 40px;
//           height: 40px;
//           animation-delay: 3s;
//           background-color: transparent;
//         }

//         &:nth-child(7) {
//           left: 82%;
//           width: 60px;
//           height: 60px;
//           animation-delay: 9s;
//         }

//         &:nth-child(8) {
//           left: 91%;
//           width: 60px;
//           height: 60px;
//           background-color: transparent;
//           animation-delay: 15s;
//         }

//         &:nth-child(9) {
//           display: none;
//         }
//       }
//     }

//     @-webkit-keyframes square {
//       0% {
//         transform: translateY(0);
//       }
//       100% {
//         transform: translateY(-1800px);
//       }
//     }
//     @keyframes square {
//       0% {
//         transform: translateY(0);
//       }
//       100% {
//         transform: translateY(-1800px);
//       }
//     }

//     .landing-container {
//       padding: 0.5rem 0px !important;
//       height: 99vh !important;

//       .header {
//         &::after {
//           display: none;
//         }

//         .top-message {
//           font-size: 1.2rem !important;
//         }

//         .join-button {
//           padding: 0.5rem 2.5rem !important;
//           .join-text {
//             font-size: 1.2rem !important;
//           }
//         }
//       }

//       .main {
//         transform: translate(-50%, -50%) !important;
//         .introducing-text {
//           font-size: 28px !important;
//           top: -20px !important;
//           left: 11% !important;
//         }
//         .logo-container {
//           padding: 1rem 2rem !important;
//           border: 4px solid #fff !important;
//           border-radius: 32px !important;

//           .logo-image {
//             height: 72px !important;
//           }
//           .logo-text {
//             font-size: 70px !important;
//             margin-left: 1rem !important;
//           }
//         }
//       }

//       .footer {
//         bottom: 1rem !important;
//         width: 91.5% !important;
//       }
//     }
//   }
// }

// @media #{$information-xl} {
//   .Landing {
//     .landing-container {
//       padding: 0.5rem 0px !important;
//       height: 98.5vh !important;

//       .header {
//         &::after {
//           width: 70% !important;
//           left: 20% !important;
//         }
//       }
//     }
//   }
// }
