@import "../../styles/mixin";

.WalletRecharge {
  display: flex;
  flex-direction: column;
  background: var(--white);
  .app-main {
    margin-top: -8px;
    padding-bottom: 2rem;
    padding-top: 0;

    &::before {
      background: var(--themeColorDark);
      content: " ";
      display: block;
      height: 420px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
      border-bottom-left-radius: 70% 10%;
      border-bottom-right-radius: 70% 10%;
    }
    .wallet-recharge-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      position: relative;
      width: auto;
      margin-top: 1.5rem;

      .wallet-recharge-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 1rem;
        .wallet-recharge-card-inner {
          width: 688px;
          margin: auto;
          padding: 40px;
          .wallet-recharge-title {
            margin: 0;
            padding: 1rem 24px;
            font-family: var(--headerFont);
          }
          .wallet-recharge-form {
            display: flex;
            flex-direction: column;
            padding: 1rem 24px;

            .wallet-chain-info {
              font-size: 0.9rem;
              margin-top: 1rem;
              margin-bottom: 0.5rem;
              padding: 0rem 0px;
              color: #da621e;
            }

            .wallet-recharge-form-title {
              font-size: 20px;
              font-weight: bold;
            }

            .wallet-recharge-form-title-container {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 0.5rem;

              .refresh-control {
                color: var(--grey4Color);
                cursor: pointer;
                margin-right: 0.5rem;
                font-size: 18px;
                border-radius: 6px;
                height: 32px;
                width: 32px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                  background-color: var(--grey1Color);
                }
              }
            }

            .wallet-recharge-form-subtitle {
              font-size: 16px;
              color: var(--grey3Color);
              margin-top: 0.5rem;
            }

            a {
              color: var(--themeColor);
              margin-left: 4px;
              text-decoration: none;
              border-bottom: 1px dotted var(--themeColor);

              &:hover {
                color: var(--themeColorDark);
                border-bottom: 1px dotted var(--themeColorDark);
              }
            }

            .wallet-recharge-form-keypoint {
              font-size: 17px;
              color: var(--grey5Color);
              margin-top: 0.5rem;
              font-weight: 500;
            }

            .current-wallet-details {
              display: flex;
              align-items: center;
              width: 100%;
              margin-top: 1rem;
              font-size: 18px;
              .current-wallet-details-title {
                font-weight: 500;
                width: 25%;
              }

              .current-wallet-details-desc {
                color: var(--grey4Color);
              }
            }

            .wallet-recharge-form-input {
              margin-top: 0.5rem;
              width: 300px;
              padding: 8px 12px;
              border-radius: 4px;
              font-size: 16px;
              border: 1px solid var(--grey2Color);
              outline: none;

              &:focus {
                border: 1px solid var(--grey5Color);
              }
            }

            .wallet-details-container {
              .wallet-details-items {
                margin-top: 0.3rem;
                display: flex;
                align-items: center;
                .wallet-details-item-title {
                  width: 35%;
                }

                .wallet-details-item-desc {
                  font-weight: 500;
                }

                .exclamation-icon {
                  margin-right: 1rem;
                  color: var(--wildWatermelon);
                }
              }
            }
          }

          .note-container {
            padding: 0.5rem 24px;
            color: var(--red);
            font-weight: 500;
          }

          .button-container {
            display: flex;
            padding: 1rem 24px;
            .primary-button {
              @include primaryButton(
                white,
                var(--themeColor),
                0.5rem 1rem,
                none,
                8px,
                var(--themeColorDark),
                var(--primaryDisabled)
              );
              width: 132px;
              margin-right: 1rem;

              div {
                margin-right: 4px;
              }
            }

            .cancel-button {
              @include primaryButton(
                var(--textColor),
                var(--grey2Color),
                0.5rem 1rem,
                none,
                8px,
                var(--grey3Color),
                var(--grey1Color)
              );
              width: 132px;
            }
          }
        }
      }
    }
  }
}
