.Members {
  .members-container {
    display: flex;
    margin-top: 1rem;

    .members-profile-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      border-radius: 8px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;
      .members-profile-header {
        display: flex;
        min-height: 32px;
        align-items: center;
        justify-content: space-between;
        padding: 12px 24px;
        font-size: 22px;
        font-weight: 500;
        background-color: #3463ae38;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid var(--themeColorDark);

        .primary-button {
          background: var(--themeColor);
          text-decoration: none;
          color: white;
          font-size: 16px;
          font-weight: 600;
          border: 0;
          border-radius: 8px;
          padding: 0.3rem 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid transparent;
          outline: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          margin-left: 1rem;
          min-width: 86px;

          &:hover {
            background: var(--themeColorDark);
          }

          &:disabled {
            background: var(--themeColor);
            cursor: not-allowed;
          }
        }
      }

      .delete-containers {
        background-color: #fc2c2c38 !important;
      }

      .members-profile-body {
        flex: 1;
        padding: 1rem 0px;
      }
    }
  }
}
