@import "../../../../../../styles/mixin";

.SettingsGeneral {
  flex: 1;
  .settings-right-container {
    flex: 1;
    margin-left: 2rem;
    .settings-project-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      border-radius: 8px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;
      .settings-project-header {
        font-family: var(--headerFont) !important;
        display: flex;
        min-height: 32px;
        align-items: center;
        padding: 12px 24px;
        font-size: 22px;
        font-weight: 500;
        background-color: #3463ae38;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid var(--themeColorDark);
      }

      .delete-containers {
        background-color: #fc2c2c38 !important;
      }

      .settings-project-body {
        flex: 1;
        .archive-button-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          .archive-button {
            @include primaryButton(
              white,
              var(--themeColor),
              0.3rem 1rem,
              none,
              8px,
              var(--themeColorDark),
              var(--themeColor)
            );
            margin-right: 1rem;
            min-width: 86px;
          }
        }

        .delete-org-container {
          padding: 1rem 24px;
          color: var(--grey3Color);
        }
        .delete-org-confirm-container {
          padding: 1rem 24px;
          padding-top: 0px;
          color: var(--grey3Color);
          display: flex;
          align-items: center;

          .confirm-checkbox {
            display: flex;
            height: 20px !important;
            margin-right: 8px;
            input {
              cursor: pointer;
            }
          }
        }
        .settings-project-item {
          display: flex;
          flex-direction: column;
          padding: 1rem 24px;

          .settings-project-item-title {
            font-size: 18px;
            font-weight: bold;
          }

          .settings-project-item-subtitle {
            font-size: 14px;
            color: var(--grey3Color);
          }

          .settings-project-item-input {
            margin-top: 0.5rem;
            width: 300px;
            padding: 8px 12px;
            border-radius: 4px;
            font-size: 16px;
            border: 1px solid var(--grey2Color);
            outline: none;

            &:focus {
              border: 1px solid var(--grey5Color);
            }
          }

          .settings-project-value {
            font-size: 18px;
            margin-top: 0.5rem;
          }

          .settings-project-item-avatar-container {
            display: flex;
            flex-direction: column;
          }

          .settings-project-avatar-image-container {
            display: flex;
            .file-upload {
              position: absolute;
              width: 64px;
              height: 64px;
              z-index: 100;
              cursor: pointer;
              opacity: 0;
            }
            .settings-avatar {
              height: 64px;
              width: 64px;
              border-radius: 50%;
              border: 2px solid var(--themeColor);
            }
          }
        }

        .avatar-container {
          flex-direction: row !important;
          align-items: center;
          justify-content: space-between;
        }
        .settings-deployment-item {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          border-radius: 6px;
          // margin: 0.5rem 10px;
          .settings-deployment-left {
            flex: 1;
            display: flex;
            justify-content: center;
            margin-right: 1rem;

            .bold-text {
              font-weight: 500;
            }

            .deployment-link {
              text-decoration: none;
              color: var(--logoColor);
              // &:hover {
              //   text-decoration: underline;
              // }
            }
            .deployment-screenshot {
              height: 100px;
              width: 190px;
              border: 1px solid var(--grey1Color);
              border-radius: 6px;
            }
            .comma-sep {
              margin-right: 4px;
            }
            .deployment-left-detail {
              display: flex;
              flex-direction: column;
              align-items: center;
              flex: 1;
              overflow: hidden;
              margin-left: 1.5rem;

              .deployment-header-description {
                margin-top: 1rem;
                font-size: 200;
              }

              .deployment-domains-detail {
                word-break: break-all;
                height: 24px;
                overflow: hidden;
                margin-right: 1rem;
              }
              .deployment-publish-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                word-break: break-all;
                overflow: hidden;
                margin-right: 1rem;

                .deployment-header-title {
                  font-weight: bold;
                  font-size: larger;
                  color: varcolor(--themeColor);
                }
              }
              .deployment-commit-details {
                word-break: break-all;
                height: 24px;
                overflow: hidden;
                margin-right: 1rem;
              }
            }
            // .protocol-tag-container {
            //   margin-top: 0.2rem;
            //   .protocol-tag-arweave {
            //     font-size: 15px;
            //     padding: 1px 10px;
            //     background-color: #303030;
            //     color: var(--white);
            //     border-radius: 12px;
            //   }
            //   .protocol-tag-skynet {
            //     font-size: 15px;
            //     padding: 1px 10px;
            //     background-color: #00c66f;
            //     color: var(--white);
            //     border-radius: 12px;
            //   }
            // }
          }
        }
      }

      .settings-project-footer {
        display: flex;
        justify-content: space-between;
        min-height: 32px;
        align-items: center;
        padding: 12px 24px;
        background-color: #3463ae38;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: 1px solid var(--themeColorDark);
        font-size: 14px;
        color: var(--grey4Color);

        .bounceLoader {
          margin-right: 5px;
        }

        .warning-text-container {
          display: flex;
          align-items: center;
          .exclamation-icon {
            color: var(--fuelYellow);
            display: flex;
            margin-right: 8px;
          }
        }

        .primary-button {
          @include primaryButton(
            white,
            var(--themeColor),
            0.3rem 1rem,
            none,
            8px,
            var(--themeColorDark),
            var(--primaryDisabled)
          );
          margin-left: 1rem;
          min-width: 86px;
        }

        .archive-button {
          @include primaryButton(
            white,
            var(--red),
            0.3rem 1rem,
            none,
            8px,
            var(--redDark),
            var(--redDisabled)
          );
          margin-left: 1rem;
          // min-width: 86px;
        }
      }
    }
  }
}
