.user-details-container {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 580px;
  .user-details-text {
    .user-details-title {
      margin: 0;
      padding: 2px 0px;
      font-weight: 500;
    }
    .user-details-subtitle {
      margin: 0;
      padding: 2px 0px;
      color: var(--grey3Color);
    }
  }

  .user-details-avatar-container {
    .user-details-avatar {
      height: 132px;
      width: 132px;
      border-radius: 50%;
      border: 2px solid var(--themeColor);
    }
  }
}
