@import "../../../../styles/mixin";

.InviteMembers {
  .invite-members-container {
    display: flex;
    margin-top: 1rem;

    .invite-members-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      border-radius: 8px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;

      .invite-members-inner {
        width: 688px;
        margin: auto;
        padding: 40px;
        .invite-members-title {
          margin: 0;
          padding: 1rem 24px;
          font-family: var(--headerFont) !important;
        }
        .invite-members-form {
          display: flex;
          flex-direction: column;
          padding: 1rem 24px;

          .invite-members-form-title {
            font-size: 20px;
            font-weight: bold;
          }

          .invite-members-form-subtitle {
            font-size: 16px;
            color: var(--grey3Color);
          }

          .invite-input-container {
            position: relative;
            .mail-icon {
              position: absolute;
              display: flex;
              bottom: 10px;
              left: 12px;
              color: var(--grey2Color);
            }

            .invite-members-form-input {
              margin-top: 2rem;
              width: 350px;
              padding: 8px 12px;
              padding-left: 36px;
              border-radius: 4px;
              font-size: 16px;
              border: 1px solid var(--grey2Color);
              outline: none;
            }

            .invite-members-form-input:focus {
              border: 1px solid var(--grey5Color);
              ~ .mail-icon {
                color: var(--grey5Color);
              }
            }
          }

          .invite-members-form-subtitle-bottom {
            font-size: 16px;
            color: var(--grey3Color);
            margin-top: 4px;
          }
          .invite-members-form-alert {
            font-size: 14px;
            margin-top: 8px;
            margin-bottom: 2px;
            color: var(--grey3Color);
            .alert-icon-container {
              color: #ffba00;
              margin-right: 5px;
            }
          }
        }

        .button-container {
          display: flex;
          padding: 1rem 24px;
          .primary-button {
            @include primaryButton(
              white,
              var(--themeColor),
              0.5rem 1rem,
              none,
              8px,
              var(--themeColorDark),
              var(--primaryDisabled)
            );
            width: 120px;
            margin-right: 1rem;

            div {
              margin-right: 4px;
            }
          }

          .cancel-button {
            @include primaryButton(
              var(--textColor),
              var(--grey2Color),
              0.5rem 1rem,
              none,
              8px,
              var(--grey3Color),
              var(--grey1Color)
            );
            width: 120px;
          }
        }
      }
    }
  }
}
