@import "../../../../styles/mixin";

.InviteMembers {
  .invite-members-container {
    display: flex;
    margin-top: 1rem;

    .invite-members-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      border-radius: 8px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;

      .invite-members-inner {
        width: 688px;
        margin: auto;
        padding: 40px;
        .invite-members-title {
          margin: 0;
          padding: 1rem 24px;
          font-family: var(--headerFont) !important;
        }
        .invite-members-form {
          display: flex;
          flex-direction: column;
          padding: 1rem 24px;

          .invite-members-form-title {
            font-size: 20px;
            font-weight: bold;
          }

          .invite-members-form-subtitle {
            font-size: 16px;
            color: var(--grey3Color);
          }

          .invite-input-container {
            position: relative;
            .mail-icon {
              position: absolute;
              display: flex;
              bottom: 10px;
              left: 12px;
              color: var(--grey2Color);
            }

            .invite-members-form-input {
              margin-top: 2rem;
              width: 350px;
              padding: 8px 12px;
              padding-left: 36px;
              border-radius: 4px;
              font-size: 16px;
              border: 1px solid var(--grey2Color);
              outline: none;
            }

            .invite-members-form-input:focus {
              border: 1px solid var(--grey5Color);
              ~ .mail-icon {
                color: var(--grey5Color);
              }
            }
          }

          .invite-members-form-subtitle-bottom {
            font-size: 16px;
            color: var(--grey3Color);
            margin-top: 4px;
          }
        }

        .button-container {
          display: flex;
          padding: 1rem 24px;
          .primary-button {
            @include primaryButton(
              white,
              var(--themeColor),
              0.5rem 1rem,
              none,
              8px,
              var(--themeColorDark),
              var(--primaryDisabled)
            );
            width: 120px;
            margin-right: 1rem;

            div {
              margin-right: 4px;
            }
          }

          .cancel-button {
            @include primaryButton(
              var(--textColor),
              var(--grey2Color),
              0.5rem 1rem,
              none,
              8px,
              var(--grey3Color),
              var(--grey1Color)
            );
            width: 120px;
          }
        }
      }
    }
  }
}

.modal-container {
  width: 600px;
  font-size: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  opacity: 0.9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  .success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 00px 50px 50px 50px;
    backdrop-filter: blur(4px);
    .content {
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;
    }

    .check-container {
      .check-icon {
        height: 100px;
        width: 100px;
        color: green;
        margin-bottom: 20px;
      }
    }
    .header-container {
      font-weight: 700;
      font-size: xx-large;
      margin-bottom: 30px;
    }
    .text-description {
      text-align: center;
      font-size: 16px;
      margin-top: 10px;
      opacity: 0.8;
    }
  }
  .failure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px 50px 50px;
    backdrop-filter: blur(4px);
    .content {
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;
    }

    .check-container {
      .check-icon {
        height: 100px;
        width: 100px;
        color: red;
        margin-bottom: 20px;
      }
    }
    .header-container {
      font-weight: 700;
      font-size: xx-large;
      margin-bottom: 30px;
    }
    .text-description {
      text-align: center;
      font-size: medium;
      margin-top: 10px;
    }
  }
  .close-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0px 0px;
    .close-modal {
      color: var(--grey3Color);
      padding: 0;
      border: none;
      background: none;
      .close-icon {
        height: 20px;
        width: 20px;
      }
      &:hover {
        cursor: pointer;
        color: var(--grey5Color);
      }
    }
  }
}
