.landing-deploy {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: 20px;
  padding-bottom: 0;
  border-bottom-left-radius: 80% 5%;
  border-bottom-right-radius: 80% 5%;
  background-color: #040c34;
  position: relative;
  transition: all 0.2s linear;
  min-height: 1400px;

  .landing-deploy-container {
    max-width: 700px;
    margin: 0 auto;
    z-index: 999;
  }
}
