.explore-text {
  color: #ffffff;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;

  animation: fl-fade-in 1s ease;
  -webkit-animation: fl-fade-in 1s ease;
  animation-duration: 2s;
}
