.dropdown-overlay-repo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.dropdown-box-repo {
  position: absolute;
  left: 0;
  top: 2.8em;
  width: 280px;
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--grey5Color);
  border-radius: 6px;
  z-index: 1000;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  .dropdown-item {
    padding: 8px 20px;
    color: var(--grey4Color);
    cursor: pointer;
    display: flex;
    align-items: center;

    .dropdown-item-org-avatar {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }

    .dropdown-item-org-name {
      flex: 1;
      margin-left: 0.5rem;
      font-size: 18px;
      font-weight: 500;
    }

    &:hover {
      color: var(--black);
      background-color: var(--hoverBackground);
    }
  }

  .border-set {
    border-bottom: 1px solid;
  }
}
