@import "../../../../../../styles/mixin";

.landing-about-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  animation: fl-fade-in 1s ease;
  -webkit-animation: fl-fade-in 1s ease;
  animation-duration: 2s;

  .primary-button {
    @include primaryButton(
      white,
      #040c34,
      0.75rem 2.5rem,
      0px 0px 4px 1px rgba(0, 0, 0, 0.12),
      8px,
      #735386,
      rgb(101, 116, 192)
    );
    width: 352px;

    .button-icon {
      margin-right: 1rem;
      display: flex;
      img {
        height: 20px;
        width: 20px;
      }
    }
  }

  .white-button {
    background-color: rgba(255, 255, 255, 0.85) !important;
    color: #040c34 !important;
    margin-left: 2rem;

    &:hover {
      background: #fff !important;
    }
  }
}
