.modal-container {
  transition: all 0.12s ease-in-out 0s;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 0px 20px 20px 20px;
  backdrop-filter: blur(4px);
  .content {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    .share-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 40px;
      .share-button {
        height: 50px;
        width: 50px;
        border: 1px solid transparent;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        outline: none;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        transition: all 0.12s ease-in-out 0s;
        border-radius: 40px;
        background-color: #fafafa;
        color: var(--grey3Color);
        border-color: var(--grey3Color);
        transform-origin: center center;
        &:hover {
          // background-color: var(--grey1Color);
          border-color: var(--black);
          color: var(--black);
        }
        .share-button-icon {
          height: 20px;
          width: 20px;
        }
      }
    }
    .share-form {
      display: flex;
      width: inherit;
      justify-content: center;
      flex-direction: column;
      padding: 0px 24px;

      .share-form-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }

      .share-form-subtitle {
        text-align: center;
        padding: 30px 0px 20px 0px;
        font-size: 17px;
        color: var(--black);
      }
    }
  }
}

.popup-container-overlay {
  background: rgba(0, 0, 0, 0.5);
}
