@import "../../../../../../styles/mixin";

.OrgSettingsGeneral {
  flex: 1;
  .settings-right-container {
    flex: 1;
    margin-left: 2rem;
    .settings-profile-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--white);
      border-radius: 8px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem;
      .settings-profile-header {
        display: flex;
        min-height: 32px;
        align-items: center;
        padding: 12px 24px;
        font-size: 22px;
        font-weight: 500;
        background-color: #3463ae38;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 1px solid var(--themeColorDark);
        font-family: var(--headerFont) !important;
      }

      .delete-containers {
        background-color: #fc2c2c38 !important;
      }

      .settings-profile-body {
        flex: 1;
        padding: 1rem 0px;
        .settings-deployment-item {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          border-radius: 6px;
          border: 1px solid var(--grey1Color);
          margin: 0.5rem 1.5rem;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 6px var(--grey1Color);
          }
          .settings-deployment-left {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            margin-right: 1rem;

            .bold-text {
              font-weight: 500;
            }

            .deployment-link {
              text-decoration: none;
              color: var(--logoColor);
              // &:hover {
              //   text-decoration: underline;
              // }
            }
            .deployment-screenshot {
              height: 100px;
              width: 190px;
              border: 1px solid var(--grey1Color);
              border-radius: 6px;
            }
            .comma-sep {
              margin-right: 4px;
            }
            .deployment-left-detail {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              flex: 1;
              overflow: hidden;
              margin-left: 1.5rem;

              .deployment-header-description {
                margin-top: 0.5rem;
                font-size: 200;
              }

              .deployment-domains-detail {
                word-break: break-all;
                height: 24px;
                overflow: hidden;
                margin-right: 1rem;
              }
              .deployment-publish-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                word-break: break-all;
                overflow: hidden;
                margin-right: 1rem;

                .deployment-header-title {
                  font-weight: bold;
                  font-size: larger;
                  color: varcolor(--themeColor);
                }

                .archive-tag {
                  font-size: 15px;
                  padding: 1px 10px;
                  width: fit-content;
                  background-color: #303030;
                  color: var(--white);
                  border-radius: 12px;
                  margin-top: 0.5rem;
                }
              }
            }
            // .protocol-tag-container {
            //   margin-top: 0.2rem;
            //   .protocol-tag-arweave {
            //     font-size: 15px;
            //     padding: 1px 10px;
            //     background-color: #303030;
            //     color: var(--white);
            //     border-radius: 12px;
            //   }
            //   .protocol-tag-skynet {
            //     font-size: 15px;
            //     padding: 1px 10px;
            //     background-color: #00c66f;
            //     color: var(--white);
            //     border-radius: 12px;
            //   }
            // }
          }
        }
      }

      .settings-profile-footer {
        display: flex;
        justify-content: space-between;
        min-height: 32px;
        align-items: center;
        padding: 12px 24px;
        background-color: #3463ae38;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top: 1px solid var(--themeColorDark);
        font-size: 14px;
        color: var(--grey4Color);

        .warning-text-container {
          display: flex;
          align-items: center;
          .exclamation-icon {
            color: var(--fuelYellow);
            display: flex;
            margin-right: 8px;
          }
        }

        .primary-button {
          @include primaryButton(
            white,
            var(--themeColor),
            0.3rem 1rem,
            none,
            8px,
            var(--themeColorDark),
            var(--primaryDisabled)
          );

          margin-left: 1rem;
          min-width: 86px;
        }

        .delete-button {
          @include primaryButton(
            white,
            var(--red),
            0.3rem 1rem,
            none,
            8px,
            var(--redDark),
            var(--redDisabled)
          );
          margin-left: 1rem;
          min-width: 86px;
        }
      }
    }
  }
}

.unarchive-button {
  @include secondaryButton(
    var(--themeColor),
    transparent,
    var(--themeColor),
    0.3rem 1rem,
    none,
    4px,
    var(--themeColor),
    var(--primaryDisabled)
  );
  border: 1px solid var(--themeColor);
  font-weight: 500;
  margin-left: 1rem;
  min-width: 86px;

  &:hover {
    border: 1px solid var(--themeColorDark);
  }

  &:disabled {
    border: 1px solid var(--themeColorDark);
  }
}
