.Dashboard {
  display: flex;
  flex-direction: column;
  background: var(--white);
  .app-main {
    margin-top: -8px;
    padding-bottom: 2rem;
    padding-top: 0;

    &::before {
      background: var(--themeColorDark);
      content: " ";
      display: block;
      height: 420px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
      border-bottom-left-radius: 70% 10%;
      border-bottom-right-radius: 70% 10%;
    }
    .home-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      position: relative;
      width: auto;
    }
  }
}
