@import "../../../../../styles/mixin";
.GenerateResolverSkylink {
  .modal-container {
    transition: all 0.12s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    max-width: 600px;

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .modal-title {
        margin: 0;
        margin-top: 1rem;
      }

      .modal-content {
        margin: 0;
        font-size: 18px;
        line-height: 1.2;
        margin-top: 1.5rem;
        color: var(--grey3Color);
      }

      .connect-container {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .seed-phrase-container {
          width: 100%;
          display: flex;

          .seed-text-input {
            flex: 1;
            padding: 8px 12px;
            border-radius: 4px;
            font-size: 16px;
            border: 1px solid var(--grey2Color);
            outline: none;

            &:focus {
              border: 1px solid var(--grey5Color);
            }
          }
        }

        .or-text {
          text-transform: uppercase;
          margin-top: 1rem;
          font-weight: 800;
          color: var(--grey4Color);
          font-size: 18px;
        }

        .connect-mysky-button {
          @include primaryButton(
            white,
            var(--themeColor),
            0.5rem 1rem,
            none,
            8px,
            var(--themeColorDark),
            var(--primaryDisabled)
          );
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .popup-container-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
}
