.Login {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--themeColorDark);

  .login-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--themeColorDark);

    .login-container-inner {
      position: absolute;
      width: 25%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--white);
      padding: 2.5rem;
      border-radius: 12px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
      .login-header {
        margin-top: 0;
        text-align: center;
        color: var(--themeColorDark);
        font-family: var(--headerFont) !important;
      }

      .login-button-container {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        .github-button {
          position: relative;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
          line-height: 38px;
          white-space: nowrap;
          font-weight: 500;
          font-family: var(--font-sans);
          min-width: 100%;
          height: 50px;
          font-size: 1rem;
          flex-shrink: 0;
          color: #fff;
          background-color: #24292e;
          border: 1px solid #24292e;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          user-select: none;
          cursor: pointer;
          overflow: hidden;
          outline: none;
          box-sizing: border-box;
          text-decoration: none;
          padding: 0px 25px;
          margin: 0px;
          border-radius: 5px;

          &:hover {
            background: lighten($color: #24292e, $amount: 15);
            border: 1px solid lighten($color: #24292e, $amount: 15);
          }

          .github-icon {
            position: absolute;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            top: 0px;
            bottom: 0px;
            z-index: 1;
            left: 22px;
            right: auto;
            color: #fff;
          }
        }

        .gitlab-button {
          margin-top: 1rem;
          position: relative;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
          line-height: 38px;
          white-space: nowrap;
          font-weight: 500;
          font-family: var(--font-sans);
          min-width: 100%;
          height: 50px;
          font-size: 1rem;
          flex-shrink: 0;
          color: #fff;
          background-color: #6b4fbb;
          border: 1px solid #6b4fbb;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          user-select: none;
          cursor: pointer;
          overflow: hidden;
          outline: none;
          box-sizing: border-box;
          text-decoration: none;
          padding: 0px 25px;
          border-radius: 5px;

          &:hover {
            background: lighten($color: #6b4fbb, $amount: 15);
            border: 1px solid lighten($color: #6b4fbb, $amount: 15);
          }

          .gitlab-icon {
            position: absolute;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            top: 0px;
            bottom: 0px;
            z-index: 1;
            left: 22px;
            right: auto;
            color: #fff;
          }
        }
      }
    }
  }
}

$information-phone: "only screen and (max-width : 512px)";
$information-pad: "only screen and (max-width : 1024px) and (min-width: 512px)";

@media #{$information-phone} {
  .Login {
    .menu-button {
      display: block !important;
    }

    .login-container {
      display: none !important;
    }
    .primary-button {
      display: none !important;
    }

    .login-container-inner {
      width: 75% !important;
    }
  }
}

@media #{$information-pad} {
  .Login {
    .login-container-inner {
      width: 50% !important;
    }
  }
}
