.Header {
  padding: 20px 40px;
  color: var(--white);
  // background: var(--themeColor);
  z-index: 999;
  .header-container {
    max-width: 1000px;
    margin: 0 auto;
    .navbar-container {
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      .logo-container {
        display: flex;
        .app-logo-container {
          display: flex;
          a {
            text-decoration: none;
            color: var(--white);
            display: flex;
            align-items: flex-start;
            .logo-image {
              height: 32px;
            }
            .logo-badge {
              margin-left: 4px;
              font-size: 9px;
              color: #fafafa;
              padding: 1px 3px;
              font-weight: 500;
              background-color: #030d34;
              border-radius: 2px;
              text-transform: uppercase;
            }
          }
        }
        .teams-container {
          display: flex;
          align-items: center;
          margin-left: 3rem;
          position: relative;

          &::before {
            background-image: linear-gradient(
              -90deg,
              rgba(255, 255, 255, 0.5) 0,
              #fff 10%,
              #fff 90%,
              rgba(255, 255, 255, 0.5) 100%
            );
            content: "";
            display: block;
            width: 2px;
            opacity: 0.3;
            position: absolute;
            top: -4px;
            left: -1.5rem;
            height: 110%;
            transform: rotate(45deg);
            border-radius: 6px;
          }
          .team-avatar {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            border: 2px solid var(--themeColor);
            background-color: var(--white);
            cursor: pointer;
          }

          .team-name {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            margin-left: 0.5rem;
            padding: 4px 10px;
            cursor: pointer;
            font-family: var(--headerFont) !important;
          }

          .project-name {
            border-radius: 6px;
            cursor: pointer;

            &:hover {
              background-color: #3261b873;
            }
          }

          .team-up-down-arrow {
            margin-left: 8px;
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // border: 1px solid transparent;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              // border: 1px solid var(--white);
              background-color: #3261b89e;
              border-radius: 6px;
            }
          }

          .selected-team-arrow {
            background-color: #3261b89e;
            border-radius: 6px;
          }

          .disabled-team-arrow {
            background-color: transparent !important;
            cursor: not-allowed;
          }
        }
      }
      .user-profile-container {
        display: flex;
        align-items: center;
        .notification-container {
          margin-right: 1em;
          color: var(--grey2Color);
          font-size: 20px;
          display: flex;
          height: 36px;
          width: 36px;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            background-color: #3261b873;
          }
        }

        .menu-container {
          margin-right: 1.2rem;
          font-size: 20px;
          display: flex;
          height: 32px;
          width: 32px;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: #3261b873;
            border-radius: 6px;
          }
        }

        .link-container {
          background: 0 0;
          border-radius: 6px;
          color: rgba(255, 255, 255, 0.6);
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          padding: 8px;
          text-decoration: none;
          -webkit-transition: color, color 0.3s ease;
          transition: color, color 0.3s ease;
          cursor: pointer;
          margin-right: 1rem;

          &:hover {
            color: var(--white);
          }
        }
        .profile-container {
          display: flex;
          .user-profile-blockie-icon {
            height: 42px;
            width: 42px;
            border-radius: 50%;
            border: 2px solid var(--themeColor);
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              border: 2px solid var(--white);
            }
          }

          .selected-profile {
            border: 2px solid var(--white) !important;
          }

          .disabled-profile {
            border: 2px solid var(--themeColor) !important;
          }
        }
      }
    }
  }
}

$information-phone: "only screen and (max-width : 414px)";
$information-pad: "only screen and (max-width : 1024px) and (min-width: 414px)";
@media #{$information-phone} {
  .header {
    .logo-container {
      width: 25% !important;
      margin-right: 10px;
      .logo-name {
        padding-inline-start: 1em !important;
        font-size: 18px !important;
      }
    }
    .search-bar-container {
      width: 70%;

      .search-bar {
        width: 75% !important;
        padding: 0.5em 1em !important;
        .search-bar-input {
          font-size: 14px !important;
          padding-inline-start: 0.5em !important;
          width: 100% !important;
        }
      }
    }
    .user-profile-blockie-icon {
      height: 32px !important;
      width: 32px !important;
    }

    .toolbar-dropdown-box {
      font-size: 12px !important;
    }
  }
}

@media #{$information-pad} {
  .header {
    .logo-container {
      width: 25% !important;
      margin-right: 10px;
      .logo-name {
        padding-inline-start: 1em !important;
        font-size: 24px !important;
      }
    }
    .search-bar-container {
      width: 70%;

      .search-bar {
        width: 75% !important;
        padding: 0.5em 1em !important;
        .search-bar-input {
          font-size: 16px !important;
          padding-inline-start: 0.5em !important;
          width: 100% !important;
        }
      }
    }
    .user-profile-blockie-icon {
      height: 32px !important;
      width: 32px !important;
    }
    .toolbar-dropdown-box {
      font-size: 12px !important;
    }
  }
}
