@import "../../../../../../styles/mixin";

.project-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px;
  min-height: 208px;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);

  .project-item-empty {
    position: relative;
    margin: 1.5rem;
    border: 2px dashed var(--grey5Color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 4px;
    .auth-file-import {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 100;
      cursor: pointer;
    }

    .project-item-content {
      padding: 0px 1rem;
      .project-item-icon {
        font-size: 56px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        color: var(--grey5Color);
      }

      .project-item-icon-title {
        color: var(--grey5Color);
      }
    }
  }
  .project-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    .project-item-title {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
      overflow: hidden;
      margin-right: 1rem;
      text-overflow: ellipsis;
      font-family: var(--headerFont) !important;
    }

    .project-item-visit-button {
      @include secondaryButton(
        #3677e994,
        transparent,
        #3677e994,
        0.3rem,
        none,
        5px,
        var(--themeColor),
        #3677e994
      );
      min-width: 80px;
    }
  }

  .less-bottom-margin {
    margin-bottom: 1rem !important;
  }

  .project-item-body {
    margin: 1.5rem;
    margin-top: 0;
    word-break: break-all;
    flex: 1;
    .project-item-live-key {
      font-weight: 500;

      width: fit-content;
    }

    .project-item-live-value {
      text-decoration: none;
      color: var(--logoColor);
      width: fit-content;
      margin-left: 0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .project-item-footer {
    flex: 1 1;
    padding: 0 24px;
    min-height: 48px;
    max-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--grey1Color);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    font-size: 12px;
    .project-item-git-integration {
      display: flex;
      align-items: center;
      cursor: pointer;
      flex: 1;
      overflow: hidden;
      margin-right: 1rem;

      .git-name {
        margin-left: 0.5rem;
        font-weight: 500;
        text-decoration: none;
        color: inherit;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    .project-item-updated-time {
      color: var(--grey3Color);
    }
  }
}
