.NavBar {
  .navigation-container {
    margin-bottom: -8px;
    margin-top: 12px;
    padding-top: 6px;
    position: relative;

    &::after {
      background-image: linear-gradient(
        -90deg,
        rgba(255, 255, 255, 0.5) 0,
        #fff 5%,
        #fff 90%,
        rgba(255, 255, 255, 0.5) 100%
      );
      content: "";
      display: block;
      height: 2px;
      opacity: 0.08;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .nav {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0 -12px;
      padding: 0;
      .nav-item {
        align-items: center;
        display: flex;
        margin: 4px;
        a {
          background: 0 0;
          border-radius: 6px;
          color: var(--grey2Color);
          font-weight: 600;
          line-height: 24px;
          padding: 8px;
          text-decoration: none;
          -webkit-transition: color, color 0.3s ease;
          transition: color, color 0.3s ease;

          &:hover {
            color: var(--white);
          }
        }
        .selected {
          color: var(--white);
        }
      }
    }
  }
}
