@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Roboto:100,200,300,400,500,600");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --headlinesFont: "Josefin Sans", sans-serif;
  --bodyFont: "Rubik", sans-serif;
  --appNameFont: "Nunito", sans-serif;
  --wildWatermelon: #ff4f87;
  --fuelYellow: #f0a035;
  --textColor: #323232;
  --bodyBg: #c7c7c7;
  --white: #fff;
  --grey1Color: #ebebeb;
  --grey2Color: #c6c6c6;
  --grey3Color: #787878;
  --grey4Color: #525252;
  --grey5Color: #3a3a3a;
  --black: #000;
  --themeColor: #3261b8;
  --themeColorDark: #11498a;
  --themeColorSelected: #1563bb27;
  --labelColor: #737373;
  --hoverBackground: rgba(197, 197, 197, 0.28);
}

.App {
  background: var(--grey1Color);
  font-family: var(--bodyFont);
  color: var(--textColor);
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .mail-loader-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;

    .mail-loader-text {
      top: 60%;
      right: 46%;
      bottom: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: 500;
    }
  }
}

// .alert {
//   position: fixed;
//   top: 24px;
//   z-index: 999;
//   width: 100%;
//   display: flex;
//   justify-content: center;

//   .alert-container {
//     width: 30%;
//     padding: 0.5rem 4rem;
//     text-align: center;
//     background: #e01141;
//     color: white;
//     border-radius: 12px;
//     font-size: 18px;
//     font-weight: 500;
//     box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.160784);
//   }
// }

// $information-phone: "only screen and (max-width : 414px)";
// $information-pad: "only screen and (max-width : 768px) and (min-width: 414px)";
// @media #{$information-phone} {
//   .App {
//     overflow: auto;
//   }
// }
