.organization-dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.organization-dropdown-box {
  position: absolute;
  left: 16%;
  top: 3.5em;
  width: 285px;
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--grey5Color);
  border-radius: 6px;
  z-index: 1000;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  label {
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 20px;
    padding-bottom: 4px;
    color: var(--grey4Color);
    font-weight: bold;
  }

  .create-team-item-container {
    padding-top: 8px;
    border-top: 1px solid var(--grey2Color);
    margin-top: 8px;

    .create-team-item {
      display: flex;
      padding: 8px 20px;
      align-items: center;
      color: var(--grey4Color);
      cursor: pointer;

      &:hover {
        color: var(--black);
        background-color: var(--hoverBackground);
      }
      .create-team-title {
        font-size: 16px;
        flex: 1;
      }

      .create-team-icon {
        display: flex;
        font-size: 15px;
      }
    }
  }

  .border-set {
    border-bottom: 1px solid;
  }
}
