.organization-dropdown-item {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  color: var(--grey4Color);
  cursor: pointer;

  &:hover {
    color: var(--black);
    background-color: var(--hoverBackground);
  }

  .organization-dropdown-item-avatar {
    display: flex;
    margin-right: 0.4rem;
    .team-avatar {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: 2px solid var(--themeColor);
    }
  }

  .organization-dropdown-item-title {
    font-size: 16px;
    flex: 1;
  }

  .organization-dropdown-item-settings {
    display: flex;
    font-size: 15px;
  }
}
